.orgchart table{ border-collapse:collapse; padding:0; margin:0; top:0; width:100%;border-radius: 50px }
.orgchart td{ vertical-align:top; text-align:center ;}
.orgchart th{ height:20px; border-radius: 50px }
.orgchart td .right{ border-right:2px solid #000; }
.orgchart td .top{   border-top:2px solid #000;  }
.orgchart .width-50{   width:10% ;}
.orgchart .charttext{border:1px solid #000; padding:2px; background:#FFFFCF; display:inline-block;font-size:12px;border-radius: 50px }
.orgchart .charttext:hover{ background:#FFFF98; padding:2px 6px;   font-weight:700;    }

html {
    border: 3px solid darkslategray;
    border-radius: 30px;
    margin: 50px;
    padding: 5%;
}
